@use "../global/variables" as *;

.l- {
  &container {
    display: flex;
    background-color: #fff;

    &__overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#131313, .6);
      z-index: 10;
    }
  }
}