@use "../global/variables" as *;

/*
  サイドナビ
------------------------------------- */

.l- {
  &sidenavi {
    background-color: #F8F8F8;
    height: 100%;
    width: 220px;
    position: fixed;
    z-index: 10;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-track {
      background-color: $border04;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $border03;
      border-radius: 8px;
    }

    &__button {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 14px;
      height: 12px;
      border: none;
      background-color: transparent;
      cursor: pointer;
      span {
        transition: .3s;
        &:hover {
          color: $primary;
        }
      }
    }

    &__company {
      font-size: 20px;
      font-weight: 500;
      text-align: center;
      letter-spacing: .08em;
      margin: 60px auto 40px;
    }

    &__menu {
      padding: 0 0 36px;
      &.is-close {
        padding: 118px 0 0;
        .l-sidenavi__menu-link span {
          margin: 0;
        }
      }
      &-item {
        width: 100%;
        &.is-current {
          background-color: #F0F0F0;
          .l-sidenavi__menu-link {
            color: $primary;
          }
        }
        // 無効のメニュー
        &--disabled {
          @extend .l-sidenavi__menu-item;
          .l-sidenavi__menu-link {
            color: $border02;
            cursor: unset;
            &:hover {
              background-color: transparent;
            }
          }
        }
      }
      &-link {
        font-size: 16px;
        font-weight: 500;
        padding: 12px 16px;
        display: flex;
        color: $text01;
        transition: .3s;
        &:hover {
          background-color: #F0F0F0;
        }
        span {
          margin: 0 8px 0 0;
        }
      }
      &-text {
        @extend .l-sidenavi__menu-link;
      }


      &-sub {
        &-item {
          width: 100%;
          &.is-current {
            background-color: #F0F0F0;
            .l-sidenavi__menu-sub-link {
              color: $primary;
            }
          }
        }
        &-link {
          font-size: 15px;
          display: flex;
          color: $text01;
          padding: 12px 16px 12px 46px;
          font-weight: 400;
          transition: .3s;
          &:hover {
            background-color: #F0F0F0;
          }
        }
      }
    }

    /* ログインユーザー情報 */
    &__user-info {
      border-top: 2px solid $primary;
      padding: 24px 0 0;
      margin: 0 auto 40px;
      &-list {
        padding:  0 20px 16px;
      }
      &-term {
        margin: 0 auto 2px;
        font-weight: 500;
        font-size: 13px;
        letter-spacing: .02em;
      }
      &-description {
        margin: 0 auto;
        font-weight: 400;
        font-size: 12px;
        letter-spacing: .02em;
        span {
          margin: 0 0 0 8px;
        }
      }
    }
  }


}
