/*
  変数
------------------------------------- */

/* カラー */
$primary: #455AB8;
$secondary: #5CA1CD;
$alert: #CB1E26;
$text01: #333;
$text02: #6F6F6F;
$border01: #5D5D5D;
$border02: #CACACA;
$border03: #DDDDDD;
$border04: #EFEFEF;
$accent01: #F46F4E;
$accent02: #459DB8;
$bg-light: #F0F0F0;
$bg-lighter: #F8F8F8;
$white01: #FAFAFA;
$white02: #FEFEFE;

/* フォント */
$font-main: 'Noto Sans JP', "Yu Gothic", "Meiryo", sans-serif;